@font-face {
  font-family: lato;
  src: url(../../assets/Sertig.otf) format("opentype");
}
#SkillBox {
  font-size: 20px;
  font-family: 'lato', cursive;
  width: 95%;
  height: auto;
  margin: 40px auto;

  border: 1px solid #cdcdcd;
  padding: 10px;
  border-radius:20px;
  -o-border-radius:20px;
  -webkit-border-radius:20px;
  -ms-border-radius:20px;
  -moz-border-radius:20px;
   background-color: #D8F0DA;
   min-width: 100%;
  position: relative;
  opacity: 0.97;
  background: transparent;
}
#SkillBox img {
  width: 20%;
  height: 10%;
  margin: auto 35%;
  padding: 10px;
}
.bg {
  /* The image used */
  background-image: url("../../assets/img4.jpg");
  /* Full height */
  height: auto;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.descriptionModal{
  background-image: url("/assets/img.jpg");
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button{
  margin: 2px;
}
/* table{
  vertical-align: middle;
  width : "20%"
} */
.transparent{
  background-color: #ffffff;
  opacity: 0.4;
 }
 #MainTable {
  width: 100%;
  background-color: #D8F0DA;
  border: 1px;
  min-width: 100%;
  position: relative;
  opacity: 0.97;
  background: transparent;
}
.exemple {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;

  /* margin-top: 100px; */
  }


/* table table-hover table-striped */
