<form class="text-center offset-2 col-8" style="color: #757575;">
  <div class="form-group" id="SkillBox">
    <!-- <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="selectedPartner" autocomplete="off" placeholder="&#61442;  Start searching for a Product by id ....">
</div> -->
    <table class="table table-hover table-striped ">
      <caption>List of Products</caption>
      <thead>
        <tr class="table-info">
          <th scope="col">Index</th>
          <th scope="col">Titre</th>
          <th scope="col">Discription</th>
          <th scope="col">Categories</th>
          <th scope="col">date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of registartions ;let i=index ">
          <th scope="row">{{i+1}}</th>
          <td scope="row">{{post.titre}}</td>
          <td scope="row">{{post.description}}</td>
          <td scope="row">{{post.categories}}</td>
          <td scope="row">{{post.date}}</td>
          <td>
            <button type="button" [routerLink]="['/UpdatePost',i]" class="btn btn-info">Update</button>
            <button class="btn btn-danger" (click)="onDelete(i)">Suprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
