<!-- <img src="assets/img.jpg" alt="logoEmbajador"> -->

<form [formGroup]="profileForm" (submit)='addPost()' class="text-center offset-2 col-8" style="color: #757575;">

  <div class="form-group bg " id="SkillBox">
    <div>
      <p>My Posts</p>
      <img
        src="https://2.bp.blogspot.com/--aPlnH6X1YA/UEf7yeJ3gGI/AAAAAAAATgw/TgMK9IVzipk/s1600/Skills%2B-%2BPawan%2BMall.png"
        alt="Skill - Pawan Mall" />
    </div>
    <div class="form-group row">
      <!-- Titre -->
      <div class="col-sm col-form-label">
        <label for="materialRegisterFormFirstName">Titre</label>
      </div>
      <div class="col-sm">
        <input type="text" id="materialRegisterFormFirstName" class="form-control" formControlName="titre"
          [ngClass]="{'is-valid': submitted && !profileForm.controls.titre.errors ,'is-invalid': submitted && profileForm.controls.titre.errors}">
      </div>
      <div class="invalid-feedback d-block col-sm" *ngIf="submitted && profileForm.controls.titre.hasError('required')">
        Vérifiez votre saisie</div>

    </div>

    <!-- description -->
    <div class="form-group row">
      <div class="col-sm col-form-label">
        <label for="materialRegisterFormLastName">Description</label>
      </div>
      <div class="col-sm">
        <input type="text" id="materialRegisterFormLastName" class="form-control" formControlName="description"
          [ngClass]="{'is-valid': submitted && !profileForm.controls.description.errors ,'is-invalid': submitted && profileForm.controls.description.errors}">
      </div>
      <div class="invalid-feedback d-block col-sm"
        *ngIf="submitted && profileForm.controls.description.hasError('required')">Vérifiez votre saisie
      </div>
    </div>


    <!-- Categories -->
    <div class="form-group row">
      <div class="col-sm col-form-label">
        <label for="materialRegisterFormEmail">Categories</label>
      </div>
      <div class="col-sm">
        <input type="text" id="materialRegisterFormEmail" class="form-control" formControlName="categories"
          [ngClass]="{'is-valid': submitted && !profileForm.controls.categories.errors ,'is-invalid': submitted && profileForm.controls.categories.errors}">
      </div>
      <div class="invalid-feedback d-block col-sm"
        *ngIf="submitted && profileForm.controls.categories.hasError('required')">
        Vérifiez votre saisie</div>

    </div>
    <div class="col"></div>
    <!-- date -->
    <div class="form-group row">

        <label  class="col-2" for="materialRegisterFormPassword">date</label>


        <input type="date" id="materialRegisterFormPassword" class="col-6 form-control" formControlName="date"
          aria-describedby="materialRegisterFormPasswordHelpBlock"
          [ngClass]="{'is-valid': submitted && !profileForm.controls.date.errors ,'is-invalid': submitted && profileForm.controls.date.errors}">

      <span class="invalid-feedback d-block" *ngIf="submitted && profileForm.controls.date.hasError('required')">
        Vérifiez votre saisie</span>
      </div>



    <!-- Save button -->
    <button type="submit" class="btn btn-info">Save</button>
  </div>
</form>
